.Description .solution {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  color: #344154;
}

.Description .greater, .lesser {
  color: #F96E36;
}

.Description .download {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  font-size: 20px;
  color: #344154;
}

.Description .btn {
  background-color: #F96E36;
  border-color: #F96E36;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-radius: 0px;
}

.Description .title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 35px;
  text-align: center;
  color: #344154;
}

.Description .text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #344154;
}
