.Menu {
  background-color: #344154;
  font-family: 'Roboto' Mono;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  
  width: 100%;
  height: 62px;
}

.navcolor {
  padding: 17px 100px;
  color: #F4F3F4;
  
}
