.Menu {
  height: 15vh;
}

.Menu .navbar {
  background-color: #344154;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  width: 100%;
  height: 50px;
}

.Menu .text {
  color: white;
}

.Menu .nav-item .nav-link {
  color: white;
}
