.Tool p {
  color: #344154;
  margin-bottom: 0px;
}

.Tool .idea {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  color: #344154;
}

.Tool .features p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  color: #344154;
}

.Tool .greater {
  color: #F96E36;
}
